* {
  margin: 0;
}

.wrapper {
  width: 60%;
  margin-left: 20%;
}

button {
  width: 50px;
}

.playerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: .8rem;
}
